/*
 * Header
 */
 .navbar {
    background: rgba(0,0,0,1);
  }
  
  .nav-item {
    margin-left: .5em; 
  }
  
  .btn-outline-success{
    outline-color: white; 
    color: white; 
  }

html,
body {
    font-family: Consolas, monaco, monospace;
    height: 110%;
    background-color: #f5f5f5;
}

/*Timeline Entry Posting*/

.submission{
    display:none;
    margin-top:5em; 
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-condensed { line-height: 1.25; }
  