/*
 * Header
 */
 .navbar {
    background: rgba(0,0,0,1);
  }
  
  .nav-item {
    margin-left: .5em; 
  }
  
  .btn-outline-success{
    outline-color: white; 
    color: white; 
  }

html,
body {
    font-family: Consolas, monaco, monospace;
    height: 110%;
    background-color: #f5f5f5;
}

/* 
Submission
*/

.account-submission {
    margin-top:5em; 
}