@import "src/styles.scss";

.homeTitle{
    margin:.55em;
}

.getStartedButton {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: none;
    color: $PrimaryColor;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    outline: 1px solid $PrimaryColor;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.getStartedButton:hover,
.getStartedButton:focus {
    background: $PrimaryColor;
    color:white;
}

.getStartedButton:focus {
    outline: 1px solid #fff;
}

.getStartedButton:active {
    transform: scale(0.99);
}