.homeNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  font-size: 1.25em;
  display: flex;
  background-color: #222233; }

.homeNav > * {
  color: white;
  text-decoration: none;
  margin: .35em .35em .0em .35em;
  border-bottom: 0.35em solid #222233; }

a.active {
  border-bottom: 0.35em solid #00a2ff; }
