@import "globals";

html,
body,
div#react-container,
div.app {
    height: 100%;
    padding: 0;
    margin: 0;
}

h1, label {
    margin: 0
}

div.app {
    background-size: cover;
    background-position: center;
}

div.not-found-404 {
    background-color: white;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}